h1 {
	margin-top:30px;
}
h2 {
	margin-top:20px;
	font-size: 1.7em;
}
h3 {
	margin-top:10px;
	font-size: 1.4em;
}


pre {
	padding: 16px;
    overflow: auto;
    line-height: 1.45;
    background-color: #f7f7f7;
    border-radius: 3px;
    font: 1em Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

#header {
	padding: 0px 0;
	width: 100%;
	position: fixed;
	top: 0;
	width: 100%;
	height: 80px;
	z-index: 5;
	background: #2d969c;
	color: #FFF;
	height: 70px;
}

#imixs-servicenav {
	
}

#imixs-servicenav .col-12 {
	padding-top: 0;
	padding-bottom: 5;
}

#imixs-servicenav a, #imixs-servicenav a:HOVER, #imixs-servicenav a:VISITED
	{
	color: #fff;
}

#imixs-servicenav ul {
	padding-right: 20px;
}

#imixs-servicenav li {
	list-style: none;
	display: inline;
	margin: 0em 0em 0em 2em;
	padding: 0px;
	line-height: 18px;
}

#imixs-servicenav li .selected {
	font-weight: bold;
}

#container {
	max-width: 100%;
	padding-top: 70px;
}

.content {
	min-height: 400px;
	margin-top: 20px;
}


.feature-main {
	background: #B9D9DA;
	color: #363636;
	font-size: 22px;
}

.feature-main .logo {
	width: 240px;
}

.feature-main p {
	margin-top: 30px;
}

.feature-main h1.lead {
	font-size: 60px;
	margin: 0;
}

.feature-main h1 {
	font-size: 48px;
	margin: 0;
}

.feature-btn, .feature-btn:HOVER {
	font-size: 24px;
	font-size: 1.9rem;
	color: #fff;
	text-decoration: none;
	border-bottom: 4px solid #000000;
	background: #333437;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	display: inline-block;
	padding: 15px 50px;
	line-height: 1.0;
	background: #545454;
	border-bottom: 4px solid #474747;
	color: #fff;
}

.feature-sub {
	background: #fff;
	color: #363636;
	margin-bottom: 90px;
}

.feature-sub h1 {
	font-size: 2rem;
	margin-bottom: 10px;
	margin-top:0;
}

.feature-sub p {
	margin-top: 0px;
	font-size: 1.09rem;
	
}

.feature-sub .feature-btn {
	font-size: 1.4rem;
	padding: 10px 30px;
}

